.singleItem {
  padding: 10px 14px;
  background-color: rgb(220, 220, 220, 0.4);
  width: 300px;
  margin: 10px;
  border-radius: 5px;
}

.prettyMinus {
  padding: 2px 4px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: lightgrey;
  float: right;
}

.prettyPlus {
  padding: 2px 4px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: lightgrey;
  float: right;
}

.prettyMinus:hover {
  background-color: red;
  border-color: red;
  cursor: pointer;
}

.prettyPlus:hover {
  background-color: green;
  border-color: green;
  cursor: pointer;
}

.item-to-remove {
  cursor: pointer;
}
